@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body, input, button, hgroup {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 25px;
  letter-spacing: 1px;
}

h2 {
  font-size: 22px;
  margin-left: 20px;
}

h3 {
  font-size: 18px;
}

body {
  margin: 0;
  width: 100%;
}

.background-lightgray {
  background-color: #f6f6f6;
}

.flex {
  display: flex;
}

a {
  outline: none;
  text-decoration: none;
  color: black;
}
.loader__background {
  width: 100%;
  height: 100%;
  background-color: white;
  position: fixed;
  z-index: 5;
}

.lds-dual-ring {
  display: inline-block;
  position: fixed;
  left: 38%;
  top: 38%;
  width: 80px;
  height: 80px;
  z-index: 6;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #9356DC;
  border-color: #9356DC transparent #9356DC transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@media all and (min-width: 720px) {
  .lds-dual-ring {
    left: 45%;
    top: 45%;
  }
}
@media all and (min-width: 1024px) {
  .lds-dual-ring {
    left: 48%;
    top: 48%;
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader__background, .lds-dual-ring {
  animation-name: disappear;
  animation-duration: 0.5s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: 0;
  }
}
.button--purple {
  border-radius: 50px;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 15px 23px 15px 23px;
  margin-bottom: 50px;
  border: none;
  color: white;
  font-size: medium;
  box-shadow: 3px 3px 3px #aaa;
  transition: all 0.8s ease-in-out 0s;
}
.button--purple:hover {
  box-shadow: 0px 0px 20px 6px #db56e283;
  transition: all 0.8s ease-in-out 0s;
  -webkit-transition: all 0.8s ease-in-out 0s;
  -moz-transition: all 0.8s ease-in-out 0s;
  -ms-transition: all 0.8s ease-in-out 0s;
  -o-transition: all 0.8s ease-in-out 0s;
}

#header__home {
  text-align: center;
}
#header__logo {
  width: 160px;
  margin: 20px 0 10px 0px;
}
@media all and (min-width: 1024px) {
  #header__logo {
    width: 300px;
  }
}
#header__localisation {
  background-color: #eaeaea;
  justify-content: center;
  align-items: center;
}
#header__localisation .fas {
  margin-right: 15px;
}
#header__menu h1 {
  margin: 0;
  padding-top: 30px;
}
#header__menu p {
  margin-bottom: 28px;
  margin-right: 15px;
  margin-left: 15px;
  font-size: 14px;
}

#header-menu__img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  position: relative;
}
#header-menu__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
#header-menu__titre {
  padding-top: 10px;
  position: absolute;
  align-items: center;
  top: 278px;
  width: 100%;
  background-color: #f6f6f6;
  display: flex;
  justify-content: space-between;
  border-top-right-radius: 35px;
  border-top-left-radius: 35px;
}
#header-menu__titre h1 {
  padding-left: 20px;
  font-family: "Shrikhand", cursive;
}
#header-menu__titre .far {
  padding-right: 35px;
  transition: all 0.8s ease 0s;
  top: 0px;
}
#header-menu__titre .far:hover {
  color: #9356DC;
  transition: all 0.8s ease 0s;
  -webkit-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  -ms-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
}

li.flex {
  align-items: center;
}

@media all and (min-width: 720px) {
  #fonctionnement {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
}

.fonctionnement__bloc {
  display: flex;
  align-items: center;
  border-radius: 20px;
  width: 270px;
  height: 70px;
  box-shadow: 2px 2px 10px #d4d4d4;
  margin-bottom: 8px;
}
.fonctionnement__bloc .fas {
  margin: 0 20px 0 20px;
}
@media all and (min-width: 720px) {
  .fonctionnement__bloc {
    width: 470px;
  }
}
@media all and (min-width: 1024px) {
  .fonctionnement__bloc {
    width: 770px;
  }
}
.fonctionnement__chiffre {
  margin-bottom: 22px;
  background-color: #9356DC;
  border-radius: 50px;
  padding: 1px 6px 1px 6px;
  color: white;
  margin-right: -10px;
  z-index: 1;
}

#restaurant {
  padding-top: 20px;
}
@media all and (min-width: 720px) {
  #restaurant {
    margin: 0 15% 0 15%;
  }
}
@media all and (min-width: 1024px) {
  #restaurant {
    margin: 0 20% 0 20%;
  }
}

.restocard {
  border-radius: 15px;
  background-color: white;
  margin: 15px;
  position: relative;
}
.restocard__img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.restocard__body {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
}
.restocard h3 {
  margin: 17px 0 7px 8px;
}
.restocard p {
  margin: 0 0 19px 8px;
}

.icone-coeur {
  position: relative;
  width: 10%;
}

.far.fa-heart {
  position: absolute;
  right: 15px;
  top: 20px;
  font-size: 30px;
}

.fas.fa-heart {
  opacity: 0;
  position: absolute;
  right: 13px;
  top: 18px;
  font-size: 34px;
}
.fas.fa-heart:hover {
  opacity: 1;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fas.fa-heart:hover + .far.fa-heart, .fas.fa-heart:hover + .far.fa-heart:before {
  opacity: 0;
}

.nouveau {
  position: absolute;
  top: 15px !important;
  right: 15px !important;
  background-color: #99e2d0;
  color: #0a8d6d;
  border-radius: 2px;
  padding: 3px 10px 3px 10px;
}

.fas.fa-arrow-left {
  position: absolute;
  left: 20px;
  top: 20px;
}
@media all and (min-width: 1024px) {
  .fas.fa-arrow-left {
    font-size: 30px;
    left: 30px;
    top: 27px;
  }
}

#entrees {
  margin-top: 70px;
}

.bloc__repas {
  display: flex;
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 2px 10px #d4d4d4;
  margin-bottom: 13px;
  width: 100%;
  margin-right: 15px;
  justify-content: space-between;
  overflow: hidden;
}
.bloc__repas p {
  margin: 10px 0 10px 0;
  padding-right: 15px;
}
.bloc__repas:hover .reservation-repas {
  width: 15%;
  transition: all 0.8s ease-in-out 0s;
  -webkit-transition: all 0.8s ease-in-out 0s;
  -moz-transition: all 0.8s ease-in-out 0s;
  -ms-transition: all 0.8s ease-in-out 0s;
  -o-transition: all 0.8s ease-in-out 0s;
}
.bloc__repas:hover .fa-check-circle {
  animation: rotation 1s;
  -webkit-animation: rotation 1s;
  -webkit-transition: rotation 1s;
  -moz-transition: rotation 1s;
  -ms-transition: rotation 1s;
  -o-transition: rotation 1s;
}
.bloc__repas:nth-child(1) {
  animation: animation__repas 1s;
  -webkit-animation: animation__repas 1s;
}
.bloc__repas:nth-child(2) {
  animation: animation__repas 2s;
  -webkit-animation: animation__repas 2s;
}
.bloc__repas:nth-child(3) {
  animation: animation__repas 3s;
  -webkit-animation: animation__repas 3s;
}
.bloc__repas:nth-child(4) {
  animation: animation__repas 4s;
  -webkit-animation: animation__repas 4s;
}
@media all and (min-width: 720px) {
  .bloc__repas {
    width: 45%;
  }
}
@media all and (min-width: 1024px) {
  .bloc__repas {
    width: 30%;
  }
}

.content__repas {
  display: flex;
  align-items: flex-end;
  width: 100%;
  padding-left: 15px;
  justify-content: space-between;
}
.content__repas h3 {
  margin-top: 13px;
  margin-bottom: 4px;
}
.content__repas p {
  margin-top: 0;
}

.page-menu hr {
  margin-block-start: 18px;
  background-color: #99E2D0;
  width: 30px;
  height: 2px;
  margin: 0 0 0 20px;
}

.page-menu .button--menu {
  margin: -10px 0 34px 0;
}

.button--menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

body.page-menu {
  background-color: #f6f6f6;
}

#entrees ul, #plats ul, #desserts ul {
  padding-inline-start: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#entrees h2, #plats h2, #desserts h2 {
  font-family: "roboto", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 5px;
}

.reservation-repas {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #99e2d0;
  font-size: 30px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
  width: 0;
  transition: all 0.8s ease-in-out 0s;
}

.far.fa-heart.fa-2x {
  position: relative;
  right: 0%;
}

@keyframes animation__repas {
  from {
    opacity: 0;
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media all and (min-width: 1024px) {
  #entrees, #plats, #desserts {
    padding: 0 10% 0 5%;
  }
}

footer {
  background-color: #353535;
  color: white;
}
@media all and (min-width: 720px) {
  footer {
    text-align: center;
  }
}
footer a {
  color: white;
}

#footer__logo {
  filter: invert(100%);
  width: 100px;
  margin: 16px 0 5px 20px;
}
@media all and (min-width: 720px) {
  #footer__logo {
    margin: 35px 0 10px 45px;
    width: 200px;
  }
}

ul li {
  list-style-type: none;
  margin: 0 0 10px 0;
  padding: 0;
}

ul {
  padding-bottom: 30px;
}

footer .fas {
  margin-right: 15px;
  width: 10px;
}

/*# sourceMappingURL=style.css.map */
